<link rel="stylesheet" href="styles/cv.css">
<h2>Voici Mon CV :</h2>

<h3>En résumé, je suis :</h3>
<div class="row blockWrite">
    <div class="col-md-6">
        <img src="../images/gamer.png" style="width: 100px;height: 100px;" />
        <p>Gamer</p>
    </div>
    <div class="col-md-6">
        <img src="../images/livre.png" style="width: 100px;height: 100px;" />
        <p>Lecteur</p>
    </div>
</div>
<div>

</div>
<div class="row">
    <div class="col-md-6 blockWrite">
        <div>
            <button class="accordion">Mes Expériences professionnelles :</button>
            <div class="panel">
                <ul>
                    <li>
                        <strong>Développeur JAVA/JEE - AngularJS, Banque De France </strong><br>
                        <em>Septembre 2016 - Septembre 2017</em>
                        <p>
                            Mise en place de POC, et réalisation de formation sur AngularJS1.x et Selenium
                            <ul><em>
                    <li>+ Apprentissage de AngularJS1.x et de Selenium</li>
                    <li>+ Réalisation d'évolution sur un projet existant</li>
                    <li>+ Apprentissage de SVN et GIT et utilisation au sein de l'équipe</li>
                    </em></ul>
                        </p>
                    </li>
                    <li>
                        <strong>Apprentissage gestionnaire de sites web collaboratifs, Banque De France </strong><br>
                        <em>Septembre 2015 - Septembre 2016</em>
                        <p>
                            Création de sites web collaboratifs avec l’outil SharePoint (2010 et 2013)
                            <ul><em>
                    <li>+ Compréhension de besoins métiers</li>
                    <li>+ Réalisation de documentations et notices techniques</li>
                    <li>+ Expertise dans le logiciel SharePoint et Office 365</li>
                    </em></ul>
                        </p>
                    </li>
                    <li>
                        <strong>Stage réseau et découverte de SI, RATP, service A2I </strong><br>
                        <em>Juillet 2014</em>
                        <p>
                            Découverte du protocole réseau SMTP, des bases de la gestion de projet informatique, et de l’évolution d’un SI
                            <ul><em>
                    <li>+ Compréhension de besoins d’entreprise</li>
                    <li>+ Participation à la mise en évolution d’un SI</li>
                    </em></ul>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <button class="accordion">Ma Formation/Mes études : </button>
            <div class="panel">
                <ul>
                    <li><strong>Licence MIAGE en apprentissage, IUT Paris Descartes</strong><br><em>Septembre 2016 - Septembre 2017</em></li>
                    <li><strong>DUT informatique en apprentissage, IUT Paris Descartes</strong> <br><em>Septembre 2014 - Septembre 2016</em></li>
                    <li><strong>Formation SharePoint 2013 Administrateur, Banque De France</strong> <br><em>Novembre 2015</em></li>
                    <li><strong>Baccalauréat scientifique, Lycée Saint-Pierre Fourier</strong> <br><em>Juin 2014</em></li>
                </ul>
            </div>
        </div>

        <div>
            <button class="accordion">Ce que j'aime aussi :</button>
            <div class="panel">
                <ul>
                    <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Tir sportif</li>
                    <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Système embarqué</li>
                    <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Entreprenariat</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6 blockSkill">
        <h3>Mes compétences</h3>
        <ul>
            <li id="javaJEE" class="skill">
                <h5>JAVA/JEE</h5> <br/>1 ans d'expérience <br/> 1 projet</li>

            <li id="AngularJS" class="skill">
                <h5>AngularJS</h5> <br/>1 ans d'expérience <br/> 1 projet</li>

            <li id="UMLMERISE" class="skill">
                <h5>UML/MERISE</h5> <br/>2 projets</li>

            <li id="SQL" class="skill">
                <h5>SQL</h5> <br/>1 projet </li>

            <li id="SharePointOffice365" class="skill">
                <h5>SharePoint/Office365</h5> <br/>1 ans d'expérience</li>
        </ul>
    </div>
</div>

<div class="blockWrite">
    <h3>Me contacter : </h3>
    <ul>
        <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> motaraetiennepro@gmail.com</li>
        <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +33 6 38 64 58 13</li>
        <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a href="https://www.linkedin.com/in/etienne-motara-771386113">Mon linkedin</a></li>
    </ul>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");
            
            var panel = this.nextElementSibling;
            if (panel.style.display === "none") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }

            /* Toggle between hiding and showing the active panel */
            for (j = 0; j < acc.length; j++) {
                var display = acc[j].nextElementSibling.style.display;
                if(display === "none"){
                    display = block;    
                }else{
                    display = "none";
                }
            }
        }
    }
</script>