<link rel="stylesheet" href="styles/cv.css">
<h2>Voici Mon CV :</h2>

<h3>En résumé, je suis :</h3>
<img src="../images/gamer.png" style="width: 100px;height: 100px;"/>
<div class="row">
        <div class="col-md-6">
        <h3>Mes expériences professionnelles :</h3>
        <ol>
            <li>Écrasez délicatement les avocats avec une fourchette</li>
            <li>Placez la purée obtenue dans un plat et arrosez avec le jus de citron</li>
            <li>Mélangez pour que le jus de citron empêche la purée d'avocat de noircir</li>
            <li>Mélangez la tomate et le concombre coupés</li>
            <li>Gardez au frais et servir rapidement avec des tortillas</li>
        </ol>
        <h3>Ma Formation : </h3>
        <ol>
            <li>Écrasez délicatement les avocats avec une fourchette</li>
            <li>Placez la purée obtenue dans un plat et arrosez avec le jus de citron</li>
            <li>Mélangez pour que le jus de citron empêche la purée d'avocat de noircir</li>
            <li>Mélangez la tomate et le concombre coupés</li>
            <li>Gardez au frais et servir rapidement avec des tortillas</li>
        </ol>
        <h3>Ce que j'aime aussi :</h3>
        <ol>
            <li>Écrasez délicatement les avocats avec une fourchette</li>
            <li>Placez la purée obtenue dans un plat et arrosez avec le jus de citron</li>
            <li>Mélangez pour que le jus de citron empêche la purée d'avocat de noircir</li>
            <li>Mélangez la tomate et le concombre coupés</li>
            <li>Gardez au frais et servir rapidement avec des tortillas</li>
        </ol>
        </div>
    <div class="col-md-6">
        <h3>Mes compétences</h3>
        <ul>
            <li id="javaJEE" class="skill"><h5>JAVA/JEE</h5> <br/>1 ans d'expérience <br/> 1 projet</li>

            <li id="AngularJS" class="skill"><h5>AngularJS</h5> <br/>1 ans d'expérience <br/> 1 projet</li>

            <li id="UMLMERISE" class="skill"><h5>UML/MERISE</h5>  <br/>2 projets</li>

            <li id="SQL" class="skill"><h5>SQL</h5> <br/>1 projet </li>

            <li id="SharePointOffice365" class="skill"><h5>SharePoint/Office365</h5> <br/>1 ans d'expérience</li>
        </ul>
    </div>
</div>
<h3>Me contacter : </h3>
<ul>
    <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</li>
    <li><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Pig</li>
    <li><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Apple</li>
</ul>