<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <style>
.carousel-text-caption{
  color: white;
}
</style>
<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <div class="carousel-caption">
      <h3 class="carousel-text-caption">micro-service</h3>
      <p class="carousel-text-caption"> Les architectures micro-services sont un réel avenir pour résoudre de grand problème de performance.</p>
    </div>
    <img src="../images/archiMicroService.png" alt="Chania" style="height: 400px;width: 50%" class="center-block">
</div>

<div class="item">
  <img src="../images/voteBlancNul.jpg" alt="Chania" style="height: 400px;width: 50%" class="center-block">
<div class="carousel-caption">
  <h3 class="carousel-text-caption">Vote Blanc/Nul</h3>
  <p class="carousel-text-caption">Quand un amis te dis que c'est la même chose...</p>
</div>
</div>

<div class="item">
  <img src="../images/BB.jpg" alt="Flower" style="height: 400px;width: 50%" class="center-block">
<div class="carousel-caption">
  <h3 class="carousel-text-caption">Black Butler</h3>
  <p class="carousel-text-caption">Un des meilleurs animé que j'ai vu</p>
</div>
</div>

<div class="item">
  <img src="../images/Angular.jpg" alt="Flower" style="height: 400px;width: 50%" class="center-block">
<div class="carousel-caption">
  <h3 class="carousel-text-caption">Angular</h3>
  <p class="carousel-text-caption">Depuis que j'ai appris Angular, le JS est devenu TELLEMENT SIMPLE</p>
</div>
</div>
</div>
</div>

<div class="page-header">
  <h1>Actualités :</h1>
</div>

<div class="row blockActu">
  <div class="col-md-4">
    <h3>Ma techno du moment</h3>
    <img src="../images/voltdb.png" alt="VoltDB" height="100px" class="actuImg center-block">
  </div>
  <div class="col-md-4">
    <h3>Mon projet Actuel</h3>
    <img src="../images/voteEnLigne.jpg" alt="Vote en ligne" height="100px" class="actuImg center-block">

  </div>
  <div class="col-md-4">
    <h3>La où j'habite !</h3>
    <img src="../images/paris.jpg" alt="Paris !" height="100px" class="actuImg center-block">
  </div>
</div>